.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 1rem 3rem;
    
}
.header .darkMode{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 1.2rem;
}
.header h2{
    font-size: 1.8rem;
}
